.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   grid-area: footer;
   height: 150px;

   &__title {
      color: #3b3b3b;
      font-family: "Helvetica Neue LT Pro - Roman";
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.28px;
   }
}
